#navbar{
    width: 80%;
    margin: 10px auto;
    
}

#sidebar{
    display: flex;
    justify-content: space-evenly;
}

#sidebar h3{
    border: 2px solid red;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer; 
}